* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: hotpink;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: pink;
}

.box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.content {
  width: 300px;
  background-color: springgreen;
}

.items {
  width: 700px;
  padding: 20px;
  background-color: greenyellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.items-box {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-box {
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: skyblue;
}
